---
import { Image } from "astro:assets";
import tatiBar from "../../public/tatiBar.png";
import tatiStore from "../../public/tatiStore.png";
import agenda from "../../public/agenda.png";

interface Project {
  title: string;
  image: ImageMetadata;
  link: string;
  preview: string;
}

const projects: Project[] = [
  {
    title: "E-commerce",
    image: tatiBar as ImageMetadata,
    link: "https://github.com/TatianaMezzano/tatiana-store",
    preview: "https://tatianamezzano.github.io/tatiana-store/",
  },
  {
    title: "Panel administrativo",
    image: tatiStore as ImageMetadata,
    link: "https://github.com/TatianaMezzano/dashboard",
    preview: "https://tatianamezzano.github.io/dashboard/",
  },
  {
    title: "Agenda online",
    image: agenda as ImageMetadata,
    link: "https://github.com/TatianaMezzano/calendarioEvaluaciones",
    preview: "https://tatianamezzano.github.io/calendarioEvaluaciones/",
  },
];
---

<section id="projects" class="py-12 border-t border-[#ffffff10] text-[var(--white)]">
  <div class="max-w-5xl mx-auto mt-20 mb-20">
    <h2 class="text-lg text-[var(--sec)] mb-2 shiny-sec">Algunos ejemplos...</h2>
    <h3 class="text-4xl md:text-5xl font-medium mb-8">Proyectos</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map((project) => (
        <div class="max-w-md bg-[#1414149c] bg-black/20 ring-1 ring-white/70 rounded-lg shadow-sm overflow-hidden
                    flex flex-col transform transition-transform duration-300 hover:scale-105">

          <a href={project.preview} target="_blank" rel="noopener noreferrer" class="p-2">
            <Image
              src={project.image}
              alt={project.title}
              class="w-full h-64 md:h-72 object-cover rounded-t-lg"
            />
          </a>

          <div class="p-6 md:p-8 flex flex-col flex-grow">
            <a href={project.preview} target="_blank" rel="noopener noreferrer">
              <h5 class="mb-3 text-2xl md:text-3xl tracking-tight text-white">{project.title}</h5>
            </a>

            <div class="flex gap-3 mt-auto">
              <a
                href={project.link}
                target="_blank"
                class="inline-flex items-center px-4 py-2 text-sm md:text-base font-medium text-white bg-gray-700 rounded-lg hover:bg-gray-600 transition"
              >
                GitHub
              </a>
              <a
                href={project.preview}
                target="_blank"
                class="inline-flex items-center px-4 py-2 text-sm md:text-base font-medium text-white bg-[#BE6025] rounded-lg hover:bg-[#D9763B] transition"
              >
                Ver
                <svg
                  class="w-4 h-4 ms-2"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 14 10"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9"
                  />
                </svg>
              </a>
            </div>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

